################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/PatientsPortal.API/bin/Debug/net8.0
/Backend/PatientsPortal.API/obj
/Backend/PatientsPortal.API/Properties
/Backend/PatientsPortal.Common/bin/Debug/net8.0
/Backend/PatientsPortal.Common/obj
/Backend/PatientsPortal.DataAccess/bin/Debug/net8.0
/Backend/PatientsPortal.DataAccess/Migrations
/Backend/PatientsPortal.DataAccess/obj
/Backend/PatientsPortal.Models/bin/Debug/net8.0
/Backend/PatientsPortal.Models/obj
/Backend/PatientsPortal.Services/bin/Debug/net8.0
/Backend/PatientsPortal.Services/obj
